.DS_Store

# macOS app output
HighlightBar/.build/
HighlightBar/.cache/
HighlightBar/.swiftpm/
HighlightBar/dist/
HighlightBar/.build-appstore/
HighlightBar/dist-appstore/

# Windows app output
WindowsHighlightBar/bin/
WindowsHighlightBar/obj/
WindowsHighlightBar/publish/

# JetBrains IDE
.idea/
